## Import Library

In [1]:
# Data processing, JSON-handling, & visualization libraries
import joblib
import pandas as pd
import json
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

# Sklearn libraries, preprocessing steps, & decision tree model
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [14]:
# Load the *fitted* ColumnTransformer you saved earlier
preprocessor = joblib.load("../data/processed/14_processed_df.pkl")

# Rebuild X (same as in notebook A)
import pandas as pd, json
df = pd.read_csv("../data/processed/11_biz_merged_clean.csv")

In [15]:
df.head()

,business_id,city,state,latitude,longitude,review_count,is_open,review_count_log1p,attr_ByAppointmentOnly,attr_BusinessAcceptsCreditCards,...,cat__Caterers,cat__Specialty Food,cat__Bakeries,cat__Desserts,rev_count_2019,avg_stars_2019,first_review_2019,last_review_2019,rl_word_mean,rl_share_short24
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,39.955505,-75.155564,80.0,True,4.394449,False,False,...,0,0,1,0,20,4.550000,2019-03-12 17:04:09,2021-11-01 18:22:07,81.450000,0.05
1,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,36.269593,-87.058943,6.0,True,1.945910,False,True,...,0,0,0,0,3,1.333333,2020-06-26 19:22:36,2021-03-06 07:18:00,70.000000,0.00
2,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,36.208102,-86.768170,10.0,True,2.397895,False,True,...,0,0,0,0,5,1.800000,2019-01-05 01:28:55,2021-04-15 19:16:33,111.200000,0.00
3,eEOYSgkmpB90uNA7lDOMRA,Tampa Bay,FL,27.955269,-82.456320,10.0,True,2.397895,NaN,NaN,...,0,0,0,0,8,4.250000,2019-01-16 18:22:34,2022-01-03 01:18:29,91.875000,0.00
4,il_Ro8jwPlHresjw9EGmBg,Indianapolis,IN,39.637133,-86.127217,28.0,True,3.367296,NaN,True,...,0,0,0,0,12,2.250000,2019-01-01 19:58:17,2021-04-22 13:58:42,97.833336,0.00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36261 entries, 0 to 36260
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      36261 non-null  object
 1   city                             36261 non-null  object
 2   state                            36261 non-null  object
 3   latitude                         36261 non-null  float64
 4   longitude                        36261 non-null  float64
 5   review_count                     36261 non-null  float64
 6   is_open                          36261 non-null  bool
 7   review_count_log1p               36261 non-null  float64
 8   attr_ByAppointmentOnly           3139 non-null   object
 9   attr_BusinessAcceptsCreditCards  31372 non-null  object
 10  attr_BikeParking                 26853 non-null  object
 11  attr_RestaurantsPriceRange2      29672 non-null  float64
 12  attr_RestaurantsTakeOut          33187 non-null  object
 13  attr_RestaurantsDelivery         31363 non-null  object
 14  attr_Caters                      25596 non-null  object
 15  attr_WiFi                        27525 non-null  object
 16  attr_WheelchairAccessible        11787 non-null  object
 17  attr_HappyHour                   10870 non-null  object
 18  attr_OutdoorSeating              28323 non-null  object
 19  attr_HasTV                       29718 non-null  object
 20  attr_RestaurantsReservations     29308 non-null  object
 21  attr_DogsAllowed                 10543 non-null  object
 22  attr_Alcohol                     13375 non-null  object
 23  attr_GoodForKids                 27103 non-null  object
 24  attr_RestaurantsAttire           25418 non-null  object
 25  attr_RestaurantsTableService     16532 non-null  object
 26  attr_RestaurantsGoodForGroups    27531 non-null  object
 27  attr_DriveThru                   5247 non-null   object
 28  attr_NoiseLevel                  23674 non-null  object
 29  attr_Smoking                     0 non-null      float64
 30  total_weekly_hours               36261 non-null  float64
 31  days_open                        36261 non-null  float64
 32  weekend_hours                    36261 non-null  float64
 33  avg_daily_hours                  36261 non-null  float64
 34  has_hours_info                   36261 non-null  bool
 35  cat__Sandwiches                  36261 non-null  int64
 36  cat__American (Traditional)      36261 non-null  int64
 37  cat__Pizza                       36261 non-null  int64
 38  cat__Fast Food                   36261 non-null  int64
 39  cat__Breakfast & Brunch          36261 non-null  int64
 40  cat__American (New)              36261 non-null  int64
 41  cat__Burgers                     36261 non-null  int64
 42  cat__Mexican                     36261 non-null  int64
 43  cat__Italian                     36261 non-null  int64
 44  cat__Coffee & Tea                36261 non-null  int64
 45  cat__Seafood                     36261 non-null  int64
 46  cat__Chinese                     36261 non-null  int64
 47  cat__Salad                       36261 non-null  int64
 48  cat__Chicken Wings               36261 non-null  int64
 49  cat__Cafes                       36261 non-null  int64
 50  cat__Delis                       36261 non-null  int64
 51  cat__Caterers                    36261 non-null  int64
 52  cat__Specialty Food              36261 non-null  int64
 53  cat__Bakeries                    36261 non-null  int64
 54  cat__Desserts                    36261 non-null  int64
 55  rev_count_2019                   36261 non-null  int64
 56  avg_stars_2019                   36261 non-null  float64
 57  first_review_2019                36261 non-null  object
 58  last_review_2019                 36261 non-null  object
 59  rl_word_mean                     36261 non-null  float64
 60  rl_share_short24                 36261 non-null  float64
dtypes: bool(2), float64(13), int64(21), object(25)
memory usage: 16.4+ MB